<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="Background">
      <div class="page">
        <div class="Container">
          <nav>
            <ul>
              <li>Taipei</li>
              <li>Taipei</li>
              <li>Taipei</li>
              <li>Taipei</li>
              <li>Taipei</li>
            </ul>
          </nav>
          <div class="searchBox">
            <input type="text" placeholder="Search..." />
            <div class="searchIcon">
              <img class="searchIcon" src="../images/search.png" alt="" />
            </div>
            <p class="mark">°C | °F</p>
          </div>
          <div class="date">
            <p>Tuesday, 31 May 2022 | Local time: 11:24 AM</p>
          </div>
          <!-- 需串接date的區塊 -->
          <div class="report">
            <div class="city">
              <p>London</p>
              <!-- 城市名字 -->
            </div>
            <div class="state">
              <p>Cloud</p>
              <!-- 目前天氣狀況 -->
            </div>
            <!-- 其餘天氣狀況 -->
            <div class="state-other">
              <!-- 天氣圖片 -->
              <div class="report-img">
                <img src="../images/rain.png" alt="" />
              </div>
              <!-- 當前溫度 -->
              <div class="report-temp">
                <p>15°</p>
              </div>
              <!-- 其餘天氣 -->
              <div class="report-other">
                <p>
                  <img src="../images/thermometer.png" alt="" /> Real fell 14°
                </p>
                <p><img src="../images/water.png" alt="" /> Humidity 64%</p>
                <p><img src="../images/wind.png" alt="" /> Wind 5km/h</p>
              </div>
            </div>
            <!-- 太陽升降 -->
            <div class="report-sun">
              <ul>
                <li><img src="../images/sun.png" alt="">Rise &#58 04 &#58 50 AM</li>
                <li><img src="../images/sunrise.png" alt="">Set &#58 09 &#58 06 AM</li>
                <li><img src="../images/up-arrow.png" alt="">High &#58 17°</li>
                <li><img src="../images/down-arrow.png" alt="">Low &#58 12°</li>
              </ul>
            </div>
            <!-- 未來天氣-小時 -->
            <div class="future">
              <p>HOURLY FORECAST</p>
              <div class="hourly">
                <ul>
                  <li>
                    <div class="hourly-time">12 &#58 00 PM</div>
                    <div class="hourly-img">
                      <img src="../images/rain.png" alt="">
                    </div>
                    <div class="hourly-tem">15°</div>
                  </li>
                  <li>
                    <div class="hourly-time">12 &#58 00 PM</div>
                    <div class="hourly-img">
                      <img src="../images/rain.png" alt="">
                    </div>
                    <div class="hourly-tem">15°</div>
                  </li>
                  <li>
                    <div class="hourly-time">12 &#58 00 PM</div>
                    <div class="hourly-img">
                      <img src="../images/rain.png" alt="">
                    </div>
                    <div class="hourly-tem">15°</div>
                  </li>
                  <li>
                    <div class="hourly-time">12 &#58 00 PM</div>
                    <div class="hourly-img">
                      <img src="../images/rain.png" alt="">
                    </div>
                    <div class="hourly-tem">15°</div>
                  </li>
                  <li>
                    <div class="hourly-time">12 &#58 00 PM</div>
                    <div class="hourly-img">
                      <img src="../images/rain.png" alt="">
                    </div>
                    <div class="hourly-tem">15°</div>
                  </li>
                </ul>
              </div>
            </div>
             <!-- 未來天氣-周 -->
            <div class="future">
              <p>DAILY FORECAST</p>
              <div class="hourly">
                <ul>
                  <li>
                    <div class="hourly-time">12 &#58 00 PM</div>
                    <div class="hourly-img">
                      <img src="../images/rain.png" alt="">
                    </div>
                    <div class="hourly-tem">15°</div>
                  </li>
                  <li>
                    <div class="hourly-time">12 &#58 00 PM</div>
                    <div class="hourly-img">
                      <img src="../images/rain.png" alt="">
                    </div>
                    <div class="hourly-tem">15°</div>
                  </li>
                  <li>
                    <div class="hourly-time">12 &#58 00 PM</div>
                    <div class="hourly-img">
                      <img src="../images/rain.png" alt="">
                    </div>
                    <div class="hourly-tem">15°</div>
                  </li>
                  <li>
                    <div class="hourly-time">12 &#58 00 PM</div>
                    <div class="hourly-img">
                      <img src="../images/rain.png" alt="">
                    </div>
                    <div class="hourly-tem">15°</div>
                  </li>
                  <li>
                    <div class="hourly-time">12 &#58 00 PM</div>
                    <div class="hourly-img">
                      <img src="../images/rain.png" alt="">
                    </div>
                    <div class="hourly-tem">15°</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
