@mixin phone {
  @media (max-width: 767px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Background {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  @include phone {
    padding: 0 0;
  }
  .page {
    display: flex;
    justify-content: center;
    width: 1024px;
    // height: 100vh;
    background: linear-gradient(125deg, #002b5b, #1a5f7a, #159895, #57c5b6);
    .Container {
      width: 60%;
      padding: 50px 0;
      @include phone {
        width: 100%;
        padding: 0 20px;
      }
      nav {
        ul {
          display: flex;
          justify-content: space-between;
          list-style: none;
          width: 100%;
          li {
            cursor: pointer;
            color: white;
            font-size: 24px;
            font-weight: 600;
          }
        }
        @include phone {
          display: none;
        }
      }
      .searchBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 35px 0;
        width: 100%;
        input {
          width: 400px;
          height: 60px;
          font-size: 30px;
          @include phone {
            width: 80%;
          }
        }
        .searchIcon {
          cursor: pointer;
          width: 50px;
          height: 50px;
          margin-left: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .mark {
          margin-right: 10px;
          font-size: 28px;
          font-weight: 500;
          color: white;
          @include phone {
            display: none;
          }
        }
      }
      .date {
        width: 100%;
        p {
          color: white;
          font-size: 24px;
          text-align: center;
          font-weight: 100;
        }
      }
      .report {
        width: 100%;
        .city {
          width: 100%;
          padding: 40px 30px 30px;
          p {
            font-size: 40px;
            color: white;
            text-align: center;
          }
        }
        .state{
            width: 100%;
            p{  
                text-align: center;
                font-size: 28px;
                color: #62CDFF;
            }
        }
        .state-other{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            @include phone{
              flex-direction: column;
            }
            .report-img{
                width: 150px;
                height: 150px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .report-temp{
                p{
                    color: white;
                    font-size: 50px;
                }
            }
            .report-other{
                p{
                    margin-top: 10px;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                    color: white;
                }
            }
        }
        .report-sun{
          width: 100%;
          padding: 0px 20px;
          ul{
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include phone{
              flex-direction: column;
              row-gap: 10px;
            }
            li{
              padding: 0 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              list-style: none;
              font-size: 16px;
              color: white;
              border-right: 2px solid white;
              @include phone{
                border: none;
              }
              img{
                width: 20px;
                height: 20px;
                margin-right: 5px;
              }
            }
            li:nth-child(4) {
              border: none;
           }
          }
        }
        .future{
          margin-top: 40px;
          width: 100%;
          p{
            color: white;
            font-size: 18px;
          }
          .hourly{
            margin-top: 15px;
            width: 100%;
            border-top: 2px solid white;
            ul{
              color: white;
              padding: 20px 0;
              list-style: none;
              display: flex;
              justify-content: space-between;
              align-items: center;
              li{
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                img{
                  width: 50px;
                  height: 50px;
                }
              }
              @include phone{
                flex-wrap: wrap;
              }
            }
          }
        }
      }
    }
  }
}
