<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="Background">
      <div class="page">
        <div class="Container">
          <nav>
            <ul>
              <li v-for="city in NavCity" @click="NavClick">{{city}}</li>
            </ul>
          </nav>
          <div class="searchBox">
            <input type="text" placeholder="Search..." v-model="Search" />
            <div class="searchIcon" @click="SearchBtnClick">
              <img class="searchIcon" src="../images/search.png" alt="" />
            </div>
            <p class="mark">°C | °F</p>
          </div>
          <div class="date">
            <p>日期：{{DateData[0]}} | 時間：{{DateData[1]}}</p>
          </div>
          <!-- 需串接date的區塊 -->
          <div class="report">
            <div class="city">
              <p>{{TargetCity}}</p>
              <!-- 城市名字 -->
            </div>
            <div class="state">
              <!-- <p>{{NowDay['Wx']['Text']}}</p> -->
              <!-- <p>{{Test['Wx']['Text']}}</p> -->
              <p>{{NowDay['Wx']['Text']}}</p>
              <p></p>
              <!-- 目前天氣狀況 -->
            </div>
            <!-- 其餘天氣狀況 -->
            <div class="state-other">
              <!-- 天氣圖片 -->
              <div class="report-img">
                <img :src="require(`../images/${NowDay['Wx']['Img']}`)" alt="" />
              </div>
              <!-- 當前溫度 -->
              <div class="report-temp">
                <p>{{NowDay['T']}}°</p>
              </div>
              <!-- 其餘天氣 -->
              <div class="report-other">
                <p>
                  <img src="../images/thermometer.png" alt="" /> 體感溫度 {{NowDay['MinAT']}}°
                </p>
                <p><img src="../images/water.png" alt="" /> 溼度 {{NowDay['RH']}}%</p>
                <p><img src="../images/wind.png" alt="" /> 最大風速 {{NowDay['WS']}} 公尺/秒</p>
              </div>
            </div>
            <!-- 太陽升降 -->
            <div class="report-sun">
              <ul>
                <li><img src="../images/sun.png" alt="">日出 &#58 {{SunDataDay['SunRiseTime']}}</li>
                <li><img src="../images/sunrise.png" alt="">日落 &#58 {{SunDataDay['SunSetTime']}}</li>
                <li><img src="../images/up-arrow.png" alt="">High &#58 {{NowDay['MaxT']}}°</li>
                <li><img src="../images/down-arrow.png" alt="">Low &#58 {{NowDay['MinT']}}°</li>
              </ul>
            </div>
            <!-- 未來天氣-小時 -->
            <div class="future">
              <p>每 3 小時預報</p>
              <div class="hourly">
                <ul>
                  <li v-for="hour in HoursData">
                    <div class="hourly-time">
                      <p>{{hour['Time']}}</p></div>
                    <div class="hourly-img">
                      <img :src="require(`../images/${hour['Wx']['Img']}`)" alt="">
                    </div>
                    <div class="hourly-tem">{{hour['T']['value']}}°</div>
                  </li>
                </ul>
              </div>
            </div>
             <!-- 未來天氣-周 -->
            <div class="future">
              <p>每日預報</p>
              <div class="hourly">
                <ul>
                  <li v-for="day in WeekDay">
                    <div class="hourly-time">{{day['Day']}}</div>
                    <div class="hourly-img">
                      <img :src="require(`../images/${day['Wx']['Img']}`)" alt="">
                    </div>
                    <div class="hourly-tem">{{day['T']}}°</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
